canvas {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 25px; /* Adjust as needed */
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px; /* Adjust as needed */
  width: 20px; /* Adjust as needed */
  background-color: #eee; /* Background color when unchecked */
  border: 1px solid #aaa; /* Border color */
}

.custom-checkbox input:checked + .checkmark {
  background-color: #2196F3; /* Background color when checked */
  border: 1px solid #2196F3; /* Border color when checked */
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked + .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}